<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <title>ng static</title>
    <script src="/lib/angular.js"></script>
    <link rel="stylesheet" href="/css/project.css">
</head>
<body ng-app>
    <p>Nothing here {{'yet' + '!'}}</p>
    <p>Nothing here {{2 + 1}}</p>
</body>
</html>