<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/project.css">
</head>
<body>
  <nav>
      <div class="app-title">
          <span><img src="../img/ng-learn.png"></span><span class="first">ng</span><span class="middle">-</span><span class="last">learn</span>
      </div>
  </nav>

  <main class="container-fluid" ng-view autoscroll="true"></main>

<!-- inject:vendor:js -->
<script src="lib/angular.js"></script>
<script src="lib/angular-animate.js"></script>
<script src="lib/angular-messages.js"></script>
<script src="lib/angular-cookies.js"></script>
<script src="lib/angular-resource.js"></script>
<script src="lib/angular-route.js"></script>
<script src="lib/angular-touch.js"></script>
<script src="lib/angular-aria.js"></script>
<script src="lib/ui-bootstrap-tpls.js"></script>
<script src="lib/lodash.js"></script>
<!-- endinject -->

<!-- app specific js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/home.js"></script>

<script>
    'use strict';
    angular.element(document).ready(function() {
        angular.module('app').constant('ENV', '{{env}}');
        angular.module('app').constant('TITLE', '{{title}}');
        angular.bootstrap(document, ['app']);
    });
</script>
</body>
</html>
