@import "project_bootstrap";

nav {
  height: 60px;
  /*border-bottom: 1px solid $gray-light;*/
  $shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  @include box-shadow($shadow);
  .app-title {
    margin-left: 10px;
    font-size: 40px;
    img {
      width: 48px;
      margin-right: 5px;
    }
    .first {
      color: #d58512;
    }
    .middle {
      color: #337ab7;
    }
    .last {
      color: #255625;
    }
  }
}
